h1{
text-align:center;
background-color:MidnightBlue;
color:Salmon;
font-family:Brush Script MT,cursive;
font-size:300%;
}
h2{
text-align:center;
color:MidnightBlue;font-family:Georgia,serif;font-size:200%;
}


body {
  background-image: url("https://cdn2.vectorstock.com/i/1000x1000/36/36/baking-background-vector-9253636.jpg");
}

p{
text-align:center;
font-family:Garamond, serif;
font-size:300%
}
